* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.cabeça {
    width: 1366px;
    margin: 0 auto;
}

.joguinhos {
    width: 1366px;
    margin: 0 auto;
}

.artigo {
    display: flex;
    width: 50;
}

.artigo img {
    width: 230px;
}

.horas {
    color: rgb(57, 47, 79);
}

h1{
    background-color:darkcyan;
    padding: 10px;
    margin: 0px;
}

body{
    margin: 5px;
}

.container{
width: 1366; 
margin: 0 auto;
}

.jogo{
    color: blueviolet;
}

.dinheiro{
    color: forestgreen;
}
